@page
@model IndexModel
@{
    ViewData["Title"] = "My Todos";
}
<div class="container">
    <div class="row">
        <form method="post" asp-page-handler="Add" class="col">
            <div class="form-group">
                <label for="newTodo">What should get done?</label>
                <input type="text" class="form-control" name="newTodo" id="newTodo" placeholder="Mow the lawn, ...">
            </div>
            <button type="submit" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add</button>
        </form>
        <div class="col">
            @if (Model.OpenItems.Any())
            {
                <h3>Open</h3>
                <ul class="px-0">
                    @foreach (var todo in Model.OpenItems)
                    {
                        <li class="d-flex flex-row align-items-baseline justify-content-between">
                            <form method="post" asp-page-handler="MarkAsDone">
                                <input type="hidden" name="Id" value="@todo.Id"/>
                                <input type="text" disabled="disabled" value="@todo.Name"/>
                                <button class="btn btn-primary">
                                    <i class="bi bi-check"></i>
                                </button>
                            </form>
                            <form method="post" asp-page-handler="Delete">
                                <input type="hidden" name="Id" value="@todo.Id"/>
                                <button class="btn btn-primary">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </li>
                    }
                </ul>
            }
            else
            {
                <h3>Nothing to do, well done!</h3>
            }
            @if (Model.DoneItems.Any())
            {
                <h3>Done</h3>
                <ul class="px-0">
                    @foreach (var todo in Model.DoneItems)
                    {
                        <li class="d-flex flex-row align-items-baseline">
                            <form method="post" asp-page-handler="Restore">
                                <input type="hidden" name="Id" value="@todo.Id"/>
                                <input class="text-decoration-line-through" type="text" disabled="disabled" value="@todo.Name"/>
                                <button class="btn btn-primary m-lg-1">
                                    <i class="bi bi-recycle"></i>
                                </button>
                            </form>
                        </li>
                    }
                </ul>
            }
            else
            {
                <h3>No items marked as done, get on it!</h3>
            }
        </div>
    </div>
</div>